<div class="mat-elevation-z4">
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <span>{{ title }} - {{ version }}</span>
   <span *ngIf="!isProd">dev</span>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon (click)="service.pullModel()">refresh</mat-icon>
  </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon (click)="openAddCardDialog()">add</mat-icon>
  </button>
 </mat-toolbar>
     
</div>