<div>
    <h2 mat-dialog-title>Nowe hasło</h2>
    <mat-dialog-content class="mat-typography">

        <mat-form-field appearance="fill" required="true">
            <mat-label>Teskt źródłowy (EN)</mat-label>
            <input [(ngModel)]="data.source" matInput autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Tłumaczenie (PL)</mat-label>
            <input [(ngModel)]="data.tr" matInput autocomplete="off">
        </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button [mat-dialog-close]="null">Anuluj</button>
        <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial>Zapisz</button>
    </mat-dialog-actions>
</div>