@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css" */

/* body {
  margin: 50px;
  padding: 50px;
} */

cards {
  /* margin: 0px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.counter {
  color:indianred;
}

.counter-good {
  color:green;
}

.counter-bad {
  color:indianred;
}


.widget {
  padding: 10px;
  /* border: 2px solid black; */
}

.filler {
  width: 100%;
}

/* .bottom-line {
  border-bottom: 1px solid black;
} */

/* .row-layout {
  display: flex;
  flex-direction: row;
  margin: 10px;
} */

button {
  margin-left: 4px 
}

button.first-row {
  margin-left: 0px;
}

.example-spacer {
  flex: 1 1 auto;
}

.flow-row {
  display: flex;
  flex-direction: row;
  gap: 4px;
}